/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@font-face {
    font-family: 'modernaregular';
    src: url('../fonts/moderna/moderna-webfontkit/moderna_-webfont.woff2') format('woff2'),
         url('../fonts/moderna/moderna-webfontkit/moderna_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* General */
body {
  font-family: 'Lato', sans-serif;
  background-color: #e6e6e6;
}

/* Navigation Bar */
nav ul li:hover {
   background-color: #d8000f;
}

/* Sticky Footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.nav-channel {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

.nav-logo {
  font-family: 'modernaregular', sans-serif;
  font-size: 2.9rem;
  letter-spacing: -0.075em;
}

#ideaCard {
  width: 400px;
}

.btn-submit {
    -webkit-appearance: none;
    margin: 0px;
    height: 3rem;
    width: 25%;
    background-color: #d8000f;
    border: none;
    color: #fff;
    cursor: auto;
/*    font-family: 'VFSans', 'Helvetica Neue', helvetica, arial, sans-serif;*/
    line-height: 18px;
    letter-spacing: 0;
    outline: none;
    text-transform: uppercase;
    box-sizing: border-box;
    align-items: flex-start;
    text-align: center;
    float: right;
    padding: 2px 6px 3px;
}

.btn-ffl {
    -webkit-appearance: none;
    margin: 0px;
    height: 3rem;
    width: 25%;
    background-color: #d8000f;
    border: none;
    color: #fff;
    cursor: auto;
/*    font-family: 'VFSans', 'Helvetica Neue', helvetica, arial, sans-serif;*/
    line-height: 18px;
    letter-spacing: 0;
    outline: none;
    text-transform: uppercase;
    box-sizing: border-box;
    align-items: flex-start;
    text-align: center;
    float: right;
    padding: 2px 6px 3px;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    background-color: white;
    border: none;
    border: 1px #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding-left: 6px;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}

input {
    line-height: normal;
}

input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

input, textarea, keygen, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}

/* Parallax Customization */
.parallax {
  background-color: #d8000f;
}

.parallax-container {
  height: 400px;
}


/* Moderna Font */
.pcn-moderna {
  font-family: 'modernaregular', sans-serif;
}

/*@font-face {
 font-family: 'Moderna';
  src: url(./fonts/moderna/Moderna_.ttf);
}*/

/*.work-image {
  max-height: 700px;
}*/


/* *********************************** */


p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.fa {
  margin-left: 4px;
  margin-right: 4px;
}


